[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest-aiohttp = "*"
pytest-asyncio = "*"
homeassistant = "*"
ruff = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
